* {
  box-sizing: border-box;
}

body {
    margin: 0 auto;
    /*max-width: 120px;*/
}

img {
  width: 100%;
}

.flex-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.flex-list li {
    margin-right: 30px; 
}

.flex-list a {
    color: grey;
}

#logo {
    height: 50px;
    width: 100px;
}

.nav-col {
    height: 55px;
    color: #0192B5;
    display: flex;
    align-items: center;
}

.btn {
    margin-left: 0px;
    }

.searchBox {
    width: 300px;
    margin-right: -5px;
}

/*.sign-in {
    border: solid 1px #0192B5;
    border-radius: 5%;
}*/

.glyphicon {
    font-size: 25px;
    color: grey;
}

/*.canvas {
    background-color: #FAF9F5;
    height: 800px;
    margin-top: -20px;
}*/

.main-row {
    padding-top: 30px;
    margin-top: -20px;
    background-color: #FAF9F5;
}

.left-panel {
    height: 375px;
    border: 1px solid lightgrey;
    border-radius: 1%;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.left-panel span {
    font-size: 13px; 
    font-weight: bold;
}

.left-panel li {
    list-style: none;
    margin-bottom: 5px;
}

.left-panel a {
    color: #444;
    font-size: 13px;
}

#location {
    font-weight: normal;
}

/*.card {
    max-width: 265px;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 0px;
    background-color: white;
    border: 1px solid lightgrey;
}*/

.card {
    max-width: 265px;
    background: #ffffff;
    border: 1px solid #FAF9F5;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    margin-bottom: 20px;
    margin-right: 20px;
}

.card-caption {
    padding: 10px;
}